
pre[class*="language-"],
code[class*="language-"] {
    color: #3760bf;
    background-color: #e1e2e7;
}
      
.token.prolog,
.token.builtin {
  color: #f52a65;
  background-color: inherit;
  font-style: normal;
}
        
.token.function {
  color: #2e7de9;
  background-color: inherit;
  font-style: normal;
}
        
.token.symbol {
  color: #188092;
  background-color: inherit;
  font-style: normal;
}
        
.token.punctuation {
  color: #9854f1;
  background-color: inherit;
  font-style: normal;
}
        
.token.string,
.token.char,
.token.tag,
.token.selector {
  color: #587539;
  background-color: inherit;
  font-style: normal;
}
        
.token.keyword {
  color: #7847bd;
  background-color: inherit;
  font-style: normal;
}
        
.token.operator {
  color: #006a83;
  background-color: inherit;
  font-style: normal;
}
        
.token.constant,
.token.boolean {
  color: #b15c00;
  background-color: inherit;
  font-style: normal;
}
        
.token.variable {
  color: #3760bf;
  background-color: inherit;
  font-style: normal;
}
        
.token.comment {
  color: #848cb5;
  background-color: inherit;
  font-style: italic;
}
        
.token.attr-name {
  color: rgb(241, 250, 140);
  background-color: inherit;
  font-style: normal;
}
        