pre[class*="language-"],
code[class*="language-"] {
    color: #c8d3f5;
    background-color: #222436;
    white-space: pre;
    word-spacing: normal;
    border-radius: 0.5em;
}

/* inline */
:not(pre) > code[class*="language-"]{
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.token.prolog,
.token.builtin {
  color: #ff757f;
  background-color: inherit;
  font-style: normal;
}

.token.function {
  color: #82aaff;
  background-color: inherit;
  font-style: normal;
}

.token.symbol {
  color: #65bcff;
  background-color: inherit;
  font-style: normal;
}

.token.punctuation {
  color: #c099ff;
  background-color: inherit;
  font-style: normal;
}

.token.string,
.token.char,
.token.tag,
.token.selector {
  color: #c3e88d;
  background-color: inherit;
  font-style: normal;
}

.token.keyword {
  color: #fca7ea;
  background-color: inherit;
  font-style: normal;
}

.token.operator {
  color: #89ddff;
  background-color: inherit;
  font-style: normal;
}

.token.constant,
.token.boolean {
  color: #ff966c;
  background-color: inherit;
  font-style: normal;
}

.token.variable {
  color: #c8d3f5;
  background-color: inherit;
  font-style: normal;
}

.token.comment {
  color: #636da6;
  background-color: inherit;
  font-style: italic;
}

.token.attr-name {
  color: rgb(241, 250, 140);
  background-color: inherit;
  font-style: normal;
}

