{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 80,
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
        {
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
        }
	]
}
