@import "../assets/fonts/iosevka/iosevka.css";
@import "../assets/fonts/FOT-RodinNTLG/fot-rodinntlg.css";

@import "tailwindcss";
@plugin '@tailwindcss/typography';


@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffea;
    --background-secondary: #f2ddee;
    --foreground: #110b1b;
    --foreground-secondary: #2f2142;
    --link: #106fff;
    --link-visited: #2f0070;
}

.dark {
    --background: #110b1b;
    --background-secondary: #221c38;
    --foreground: #ffffea;
    --foreground-secondary: #f2ddee;
    --link: #506fff;
    --link-visited: #2c0a6f;
}

@theme {
    --font-sans: "FOT-RodinNTLG Pro", "Mori", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Iosevka", ui-monospace, monospace;

    --color-foreground: var(--foreground);
    --color-foreground-secondary: var(--foreground-secondary);

    --color-background: var(--background);
    --color-background-secondary: var(--background-secondary);

    --color-link: var(--link);
    --color-link-visited: var(--link-visted);
}

@layer utilities {
    .prose {
        max-width: 95%;
        overflow-x: hidden;

        :where(p):not(:where([class~="not-prose"] *)) {
            font-size: 0.95rem;
            line-height: 1.45rem;
            text-align: justify;
        }
    }

    @media (min-width: 768px) {
        .prose {
            max-width: 650px;

            :where(p):not(:where([class~="not-prose"] *)) {
                font-size: 1.1rem;
            }
        }
    }

    @media (min-width: 992px) {
        .prose {
            max-width: 720px;
        }
    }

    .prose :where(code):not(:where([class~="not-prose"] *))::before,
    .prose :where(code):not(:where([class~="not-prose"] *))::after {
        content: none;
    }

    .prose :where(code):not(:where([class~="not-prose"] *)) {
        font-weight: 500;
        font-size: 15px;
        background: color-mix(in srgb, var(--foreground-secondary), transparent 70%);
        padding: 0rem 0.4rem;
        border-radius: 1rem;
    }

    .prose :where(blockquote p):first-of-type::before,
    .prose :where(blockquote p):last-of-type::after {
        content: none;
    }

    .prose :where(blockquote):not(:where([class~="not-prose"] *)) {
        font-weight: 400;
        padding: 0rem 1rem;
        color: color-mix(in srgb, var(--foreground-secondary), transparent 25%);
        quotes: none;
    }

    .prose :where(h2):not(:where([class~="not-prose"] *)) {
        font-size: var(--text-3xl);
        line-height: var(--tw-leading, var(--text-3xl--line-height));
    }

    .prose :where(h1, h2, h3, h4, h5, h6, th):not(:where([class~="not-prose"] *)) {
        font-weight: 600;
    }

    .prose :where(a):not(:where([class~="not-prose"] *)) {
        color: var(--color-link);
    }

    /* .prose :where(p):not(:where([class~="not-prose"] *)) { */
    /*     font-size: 1.1rem; */
    /*     line-height: 1.45rem; */
    /*     text-align: justify; */
    /* } */

    .prose :where(ul, ol):not(:where([class~="not-prose"] *)) {
        line-height: 1.5rem;
        list-style-position: inside;
        padding-inline-start: 2.1em;
    }

    .prose :where(img):not(:where([class~="not-prose"] *)) {
        border-radius: 0.3rem;
    }

    .footnotes {
        width: 100%;
        list-style: decimal;
        display: block;
    }


    /* class="prose */
    /*    prose-h2:text-3xl */
    /*    prose-img:rounded-sm */
    /*    prose-p:leading-snug prose-p:text-justify */
    /*    prose-headings:font-semibold */
    /*    prose-a:text-underline prose-a:text-link" */
}
