@import url("/font/iosevka/iosevka.css");
@import url("/font/jacquard/jacquard.css");

@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
    --font-iosevka: "Iosevka", Courier, monospace;
    --font-jacquard: "Jacquard", serif;
    --color-bg-pink: #ffeeee;
}

body {
    background-color: var(--color-bg-pink);
}
